body {
    border: 6px solid  rgb(249, 226, 231);
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    .main-container {
        background: white;
        padding-bottom: 8px;
    }

    .close-window {
        border: none;
        background-color:   rgb(249, 226, 231);
        cursor: pointer;
    }
}

.product-card {
    margin-right: 4px;
}

.page-title {
    display: flex;
    justify-content: space-between;
    height: 40px;
    align-items: center;
    background-color:  rgb(249, 226, 231);
    padding: 0 12px;
}

.product-list {
    display: flex;
    margin: 6px 6px 0;
    overflow: scroll;
    background-color: #ffffff;
}

#product-category {
    padding: 8px 8px 0;
    font-size: 14px;
    line-height: 20px;

    font-family: BentonSans,Helvetica,Arial,sans-serif;
    color: #221d1d;
}

a {
    text-decoration: none;
    color: rgb(96, 88, 88);
    font-weight: 400;
    font-family: BentonSans,Helvetica,Arial,sans-serif;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.04em;
}

span {
    color: #221d1d;
    font-weight: 200;
    font-family: BentonSans,Helvetica,Arial,sans-serif;
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 0.04em;
    display: block;
}

.product-image {
    background-color: #F7F7F8;
    font-size: x-small;
    width: 120px;
    height: 150px;
}

.discover-button {
    text-align: center;
    .more-items {
        background-color:  rgb(249, 226, 231);
        border-color:  rgb(249, 226, 231);
        height: 30px;
        border-radius: 5px;
        padding-bottom: 2px;
        margin-top: 4px;
        cursor: pointer;
    }
}

.product-price {
    font-weight: 600;
}

